<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>前台首页</title>
    <style>
      .ov-hd {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ph {
            height: 188px;
            width: 188px;
      }
      .mm {
          width: 100px;
          height: 30px;
          background-color: #ccc;
          text-align: center;
          line-height: 30px;
          float: left;
          list-style-type: none;
          cursor: pointer;
      }
            
      .ll {
        width: 100px;
        height: 30px;
        background-color: orange;
        text-align: center;
        line-height: 30px;
        float: left;
        list-style-type: none;
        border-right: 1px dashed green;
        cursor: pointer;
      }
      .marin-m{
        width: 1168px;
        border: 1px solid #ebebeb;
        margin: auto;
        text-align: center;
      }
      #pss{
        position: relative;
        margin: auto;
      }
      /* .spd{
        overflow: hidden;
      } */
      .pdt{
        width: 248px;
        height: 300px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        float: left;
        margin: 3px;
        text-align: center;
      }
      .byt{
        width: 230px;
        height: 30px;
        background: #c1d7d0;
        line-height: 30px;
        font-size: 18px;
        margin-top: 3px;
      }
    </style>
</head>
<body>
    <!-- Widget类下的header方法 -->

    {:widget("Widget/header")}

            <div class="umino-slider_area umino-slider_area-4">
              <div class="container-fluid">
                <div class="row no-gutters">
                  <div class="col-lg-12">
                    <div class="main-slider slider-navigation_style-1">
                      <!-- Begin Single Slide Area -->
                      <div class="single-slide animation-style-04 bg-7">
                        <div class="container">
                          <div class="slider-content">
                            <h4>Wooden Chair.</h4>
                            <h3>Morden Furniture</h3>
                            <p class="short-desc">Aenean pretium convallis lorem, sit amet dapibus ante mollis a. Integer bibendum
                              interdum </p>
                            <div class="umino-btn-ps_left slide-btn">
                              <a class="umino-slider_btn umino-btn_dark" href="shop-left-sidebar.html">Shop Now</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Single Slide Area End Here -->
                      <!-- Begin Single Slide Area -->
                      <div class="single-slide animation-style-04 bg-8">
                        <div class="container">
                          <div class="slider-content">
                            <h4>Wooden Chair.</h4>
                            <h3>Morden Furniture</h3>
                            <p class="short-desc">Aenean pretium convallis lorem, sit amet dapibus ante mollis a. Integer bibendum
                              interdum </p>
                            <div class="icon-area">
                              <ul>
                                <li>
                                  <img src="/static/homes/images/slider/slider-icon/1.png" alt="Umino's Slider Icon">
                                </li>
                                <li>
                                  <img src="/static/homes/images/slider/slider-icon/2.png" alt="Umino's Slider Icon">
                                </li>
                                <li>
                                  <img src="/static/homes/images/slider/slider-icon/3.png" alt="Umino's Slider Icon">
                                </li>
                                <li>
                                  <img src="/static/homes/images/slider/slider-icon/4.png" alt="Umino's Slider Icon">
                                </li>
                              </ul>
                            </div>
                            <a class="product-price" href="shop-left-sidebar.html">
                              <span>$200.45</span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- Single Slide Area End Here -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Begin Umino's Banner Area Seven -->
            <div class="umino-banner_area umino-banner_area-7">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <div class="banner-item img-hover_effect">
                      <div class="banner-img">
                        <a href="javascript:void(0)">
                          <img class="img-full" src="/static/homes/images/banner/4-3.jpg" alt="Umino's Banner">
                        </a>
                      </div>
                      <div class="banner-content">
                        <span>Trending</span>
                        <h4>Bottle Humidifier</h4>
                        <h3>Living Room Set</h3>
                        <p>打发是的发送到发送到的所发生的发送的大声道的发送到发送到打发斯蒂芬</p>
                        <!-- <a href="javascript:void(0)">
                                            <i class="fa fa-arrow-circle-right"></i>
                                          </a> -->
                      </div>
                    </div>
                  </div><div class="col-lg-4 col-md-6">
                    <div class="banner-item img-hover_effect">
                      <div class="banner-img">
                        <a href="javascript:void(0)">
                          <img class="img-full" src="/static/homes/images/banner/4-3.jpg" alt="Umino's Banner">
                        </a>
                      </div>
                      <div class="banner-content">
                        <span>Trending</span>
                        <h4>Bottle Humidifier</h4>
                        <h3>Living Room Set</h3>
                        <p>打发是的发送到发送到的所发生的发送的大声道的发送到发送到打发斯蒂芬</p>
                        <!-- <a href="javascript:void(0)">
                                            <i class="fa fa-arrow-circle-right"></i>
                                          </a> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="banner-item img-hover_effect">
                      <div class="banner-img">
                        <a href="javascript:void(0)">
                          <img class="img-full" src="/static/homes/images/banner/4-3.jpg" alt="Umino's Banner">
                        </a>
                      </div>
                      <div class="banner-content">
                        <span>Trending</span>
                        <h4>Bottle Humidifier</h4>
                        <h3>Living Room Set</h3>
                        <p>打发是的发送到发送到的所发生的发送的大声道的发送到发送到打发斯蒂芬</p>
                        <!-- <a href="javascript:void(0)">
                                            <i class="fa fa-arrow-circle-right"></i>
                                          </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Umino's Banner Area Seven End Here -->
            
            <!-- 商品遍历部分 -->
                {foreach name="category" item="row"}
                <div  class="main-m">
                  <div  id="pss" style="width:1168px;border:1px solid #ebebeb;margin: auto;margin-top: 40px;">
                    <ul style="overflow: hidden;">
                    <li class="mm" pid="{$row['id']}">{$row['name']}</li>
                    {foreach name="row['shop']" item="rows"}
                    <li class="ll" cid="{$rows['id']}" name="{$row['id']}">{$rows['name']}</li>
                    {/foreach}</ul>
                    <br>
                    <ul class="uid{$row['id']}" style="overflow: hidden">
                      {foreach name="data" item="r"}
                        <li class="pdt">
                          <a href="/productdetail/index/id/{$r['id']}"><img src="{$r['pic']}" class="ph"></a>
                          <p>{$r['name']}</p>
                          <p style="font-size: 20px; color: red">{$r['price']}元</p>
                          </p>
                        </li>
                      {/foreach}
                    </ul>
                  </div>
                </div>
            {/foreach}
            
            <!-- Umino's Product Tab Area End Here -->
            
            
            <!-- Begin Umino's Brand Area -->

            <div class="umino-brand_area">
              <div class="container">
                <div class="umino-brand_nav">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="umino-brand_slider slider-navigation_style-1">
                        <div class="slide-item">
                          <a href="javascript:void(0)">
                            <img src="/static/homes/images/brand/1.jpg" alt="Umino's Brand Image">
                          </a>
                        </div>
                        <div class="slide-item">
                          <a href="javascript:void(0)">
                            <img src="/static/homes/images/brand/2.jpg" alt="Umino's Brand Image">
                          </a>
                        </div>
                        <div class="slide-item">
                          <a href="javascript:void(0)">
                            <img src="/static/homes/images/brand/3.jpg" alt="Umino's Brand Image">
                          </a>
                        </div>
                        <div class="slide-item">
                          <a href="javascript:void(0)">
                            <img src="/static/homes/images/brand/4.jpg" alt="Umino's Brand Image">
                          </a>
                        </div>
                        <div class="slide-item">
                          <a href="javascript:void(0)">
                            <img src="/static/homes/images/brand/5.jpg" alt="Umino's Brand Image">
                          </a>
                        </div>
                        <div class="slide-item">
                          <a href="javascript:void(0)">
                            <img src="/static/homes/images/brand/1.jpg" alt="Umino's Brand Image">
                          </a>
                        </div>
                        <div class="slide-item">
                          <a href="javascript:void(0)">
                            <img src="/static/homes/images/brand/2.jpg" alt="Umino's Brand Image">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Umino's Brand Area End Here -->
<script type="text/javascript">
$(function () {
  //获取顶级分类的id
  pid = $('.mm').eq(0);
  $.get('',{},function() {
    
  },'json')
  pid = $(".mm").eq(0);
  $.get('', {}, function () {

  }, 'json')
  pid = $(".mm").eq(0);
  $.get('', {}, function () {

  }, 'json')
})
  // alert($);
  $(".ll").click(function(){
    // alert("哈哈哈");
    //获取cid属性 也就是当前一级分类的id
    cid = $(this).attr('cid');
    name=$(this).attr('name');
    // alert(cid);
    // Ajax遍历商品
    $.get("/homeindex/index",{cid:cid},function(data){
        // alert(data);
        // console.log(data);
        $(".uid" +name).children().remove();
        for (var i = 0; i < data.length; i++) {
            // alert(data[i].pid);
            content = $('<li class="pdt"><a href="/productdetail/index/id/'+data[i]['pid']+'"><img src="'+data[i]['pic']+'" class="ph"></a><p>' + data[i]['pname'] +'</p><p style="font-size: 20px; color: red">' + data[i]['price'] +'元</p></li>');
            $(".uid"+name).append(content);
        }
    },'json');
  });
</script>

    {:widget("Widget/footer")}
</body>
</html>